/* src/styles.css */

.app {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .search-bar {
    margin: 20px;
  }
  
  .search-input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
  }
  
  .search-button {
    padding: 10px 20px;
  }
  
  .book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .book-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  .book-thumbnail {
    height: 192px;
    width: 128px;
    object-fit: cover;
  }
  